# Feel free to fit these parameters into your position. See manpage for more information.
#
#
# Utils Dir.
#utils_dir=$HOME/.acti/utils #needed
#
# App list. One App per line. Sequence is irrelevant.
#app_file=$HOME/.acti/app_file #needed
#
# Backup File.
#backup_file=$HOME/.acti/app_file.backup #needed
#
# App Dir.
#app_dir=$HOME/.acti/apps #needed
#
# Backup Dir.
#backup_dir=$HOME/.acti #needed
#
# History File.
#history_file=$HOME/.acti/acti.history
#
# Terminal. See function _exec_app().
#_term="/usr/bin/xterm -e"
#
# Editors. You may run 'which APP' to exactly determine path.
#_editor=$EDITOR
#_visual=/usr/bin/geany
#
# Xmessage (optional).
#xmessage=false
#xmessage_title="xmessage:acti"
#
# Logfile (optional).
#log_file=$HOME/.acti/acti.log
#
# This is the header of output, when you type "print -fm" on command line.
#pf_head="K1 K2"
#
# Dmenu options. Comment out and see manpage of Dmenu for all of them.
#d_opt='-b -f -i -l 10'
#d_name='-name dmenu'
#d_class='-class dmenu'
#d_prompt='-p GO'
#d_h='-h 5'
#d_w='-w 1280'
#d_x='-x 0'
#d_y='-y 0'
#d_o='-o 1.0'
#d_dim='-dim 1.0'
#d_dc='-dc #000000'
#
declare -A d_color #needed
#d_color["d_nb"]='-nb #2C2C2C'
#d_color["d_nf"]='-nf #DCDCCC'
#d_color["d_sb"]='-sb #DCDCCC'
#d_color["d_sf"]='-sf #2C2C2C'
#
# Preconfig. To find xft fonts on your system, you may run 'fc-list | cut -d' ' -f2- | sort | less'.
#d_fn="'Droid Sans Mono-9'"
#
# Customize Dmenus in GUI mode.
#menu_1="ACTI"
#menu_2="BLOCK X Y\nBUILD DIR --NEW\nBUILD DIR --RE\nBUILD FILE\nDEL X Y\nDPATH\nEDIT APPS X\nEDIT APPS FILE\nGUI X\nHISTORY\nIGN X Y\nLIST\nREG X Y\nTERM X"
#menu_3="CYCLE\nGRID_HORIZONTAL\nGRID_VERTICAL\nMAXIMIZE\nCLOSE_ALL\nMV_TO_DESKTOP"
#menu_4="MV_AND_SWITCH_TO\nMV_TO_BUT_STAY"
#
# For sizing and moving all windows of an App on current desktop.
#TOP_MARGIN=25
#BOTTOM_MARGIN=0
#LEFT_MARGIN=0
#RIGHT_MARGIN=0
#TITLE_BAR_HEIGHT=0 # works best, if all windows are border less and the value is set to zero
#
